html {
    font-size: 10px;
    background: url(https://i.pinimg.com/originals/fe/ed/35/feed35ce0e2af76d427613072dc4c218.jpg) bottom center;
    height: 100vh;
    background-size: cover;
    background-color: black;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .keys {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid red;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .1s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: #127f94;
    text-shadow: 0 0 .5rem black;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: lime;
    box-shadow: 0 0 1rem lime;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: white;
  }
  span{
      font-size: 30px;
      margin-left: 10px;
      color: white;
  }
  a{
      text-decoration-color: white;
  }
  .title{
    color: white;
    font-size: 4em;
    text-align: center;
    margin-top: 15%
  }